<header class="header">
    报名{{total_number}}人
    <button class="btn btn-primary header-left" ng-click="go_list()">返回</button>
    <div ng-switch="switch">
        <button class="btn btn-primary header-right" ng-switch-when="start" ng-click="start()" ng-disabled="flag">开始</button>
        <button class="btn btn-primary header-right" ng-switch-when="finish" ng-click="finish()">结束</button>
    </div>
</header>

<div class="div-inline">
    <ul class="list-style-2 ">
        <br/>
        <br/>
        <li ng-repeat="people_name in name_list track by $index">
            <a>
                {{people_name}}
            </a>
        </li>
    </ul>
</div>

<div id="sign_up"  class="div-inline">
    <ul class="list-style-2 ">
        <br/>
        <br/>
        <li ng-repeat="phone_number in number_list track by $index">
            <a>
                {{phone_number}}
                <i class = "icon-align-right"></i>
            </a>
        </li>

    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active">
            <a>
                <i class="icon-group"></i>
                <br/>
                报名
            </a>
        </li>
        <li>
            <a>
                <i class="icon-group"></i>
                <br/>
                竞价
            </a>
        </li>
    </ul>
</footer>
