<header class="header">
    开始
    <button class="btn btn-primary header-left" ng-click="go_list()">返回</button>
    <div ng-switch="switch">
        <button class="btn btn-primary header-right" ng-switch-when="start" ng-click="start()" ng-disabled="flag">开始</button>
        <button class="btn btn-primary header-right" ng-switch-when="finish" ng-click="finish()">结束</button>
    </div>
</header>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active">
            <a>
                <i class="icon-group"></i>
                <br/>
                报名
            </a>
        </li>
        <li>
            <a>
                <i class="icon-group"></i>
                <br/>
                竞价
            </a>
        </li>
    </ul>
</footer>
