<header class="header">
    活动列表
    <button class="btn btn-primary header-right" ng-click="go_create_activity()" ng-disabled="hasActivityStarted()">创建活动</button>
</header>

 <div id="wrapper">
     <ul class="list-style-2 ">
         <br/>
         <br/>
             <li ng-repeat = "name in activity_name_list" ng-click="go_sign_up(name)" class={{status(name)}} >
                 <a >
                     {{name}}
                     <i class = "icon-align-right"></i>
                 </a>
            </li>
     </ul>
 </div>



