<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/android.css" rel="stylesheet" media="screen">

</head>
<body>

<header class="header">
    <button class="btn btn-primary header-left" ng-show="play" ng-click="back_to_activity_list()">返回</button>
    创建活动
</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-1">
            <h3>活动名称</h3>
            <p><input type="text" class="input" ng-model="activity_name"></p>
            <button class="btn btn-default btn-lg btn-block" ng-disabled='!activity_name' ng-click="go_sign_up(activity_name)">创建</button>
            <p>{{tips}}</p>
    </ul>

</div>

</body>
</html>