<header class="header">
    <button class="btn btn-primary header-left" ng-show="play" ng-click="back_to_activity_list()">返回</button>
    创建活动
</header>

<div id="wrapper" class="wrapper scrollable">
    <ul>
            <h3 align="center">活动名称</h3>
            <p align="center"><input type="text" class="input" ng-model="activity_name"></p>
            <p align="center" class="tips">{{tips}}</p>
            <button class="btn btn-block" ng-disabled='!activity_name' ng-click="go_sign_up()">创建</button>

    </ul>
</div>
